:root:root {
  // --rv-black: #fff;
  // --rv-white: #000;
  // --rv-primary-color: var(--rv-black);
  // --rv-background-color-light: #000;
  // --rv-background-color: #000;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
.page-wrapper .page-content {
  height: 100%;
}
